{# app/Resources/views/default/new.html.twig #}


<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>}Welcome!</title>
</head>
<body>
{{ form_start(form) }}
{{ form_widget(form) }}
{{ form_end(form) }}
<a href="{{ path('all') }}" >Вроде кнопка</a>
</body>
</html>
